DotNet/Services/WebServicePrototypes/WebServiceTester/Service References/CounterpartyService/Counterparty1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://cnf/Integration" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://cnf/Integration" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://cnf/Integration/Imports">
      <xsd:import schemaLocation="http://localhost:63002/Counterparty.svc?xsd=xsd0" namespace="http://cnf/Integration" />
      <xsd:import schemaLocation="http://localhost:63002/Counterparty.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Counterparty_getAgreementList_InputMessage">
    <wsdl:part name="parameters" element="tns:getAgreementList" />
  </wsdl:message>
  <wsdl:message name="Counterparty_getAgreementList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAgreementListResponse" />
  </wsdl:message>
  <wsdl:message name="Counterparty_getDocumentSendTo_InputMessage">
    <wsdl:part name="parameters" element="tns:getDocumentSendTo" />
  </wsdl:message>
  <wsdl:message name="Counterparty_getDocumentSendTo_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDocumentSendToResponse" />
  </wsdl:message>
  <wsdl:message name="Counterparty_storeDocumentSendTo_InputMessage">
    <wsdl:part name="parameters" element="tns:storeDocumentSendTo" />
  </wsdl:message>
  <wsdl:message name="Counterparty_storeDocumentSendTo_OutputMessage">
    <wsdl:part name="parameters" element="tns:storeDocumentSendToResponse" />
  </wsdl:message>
  <wsdl:portType name="Counterparty">
    <wsdl:operation name="getAgreementList">
      <wsdl:input wsaw:Action="http://cnf/Integration/Counterparty/getAgreementList" message="tns:Counterparty_getAgreementList_InputMessage" />
      <wsdl:output wsaw:Action="http://cnf/Integration/Counterparty/getAgreementListResponse" message="tns:Counterparty_getAgreementList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDocumentSendTo">
      <wsdl:input wsaw:Action="http://cnf/Integration/Counterparty/getDocumentSendTo" message="tns:Counterparty_getDocumentSendTo_InputMessage" />
      <wsdl:output wsaw:Action="http://cnf/Integration/Counterparty/getDocumentSendToResponse" message="tns:Counterparty_getDocumentSendTo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="storeDocumentSendTo">
      <wsdl:input wsaw:Action="http://cnf/Integration/Counterparty/storeDocumentSendTo" message="tns:Counterparty_storeDocumentSendTo_InputMessage" />
      <wsdl:output wsaw:Action="http://cnf/Integration/Counterparty/storeDocumentSendToResponse" message="tns:Counterparty_storeDocumentSendTo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>