DotNet/Services/WebServicePrototypes/WebServiceTester/Service References/GetDocumentService/GetDocument1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://cnf/GetDocument" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://cnf/GetDocument" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://cnf/GetDocument/Imports">
      <xsd:import schemaLocation="http://localhost:63003/GetDocument.svc?xsd=xsd0" namespace="http://cnf/GetDocument" />
      <xsd:import schemaLocation="http://localhost:63003/GetDocument.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:63003/GetDocument.svc?xsd=xsd2" namespace="http://cnf/Integration" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetDocument_getDealSheet_InputMessage">
    <wsdl:part name="parameters" element="tns:getDealSheet" />
  </wsdl:message>
  <wsdl:message name="GetDocument_getDealSheet_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDealSheetResponse" />
  </wsdl:message>
  <wsdl:message name="GetDocument_getConfirmation_InputMessage">
    <wsdl:part name="parameters" element="tns:getConfirmation" />
  </wsdl:message>
  <wsdl:message name="GetDocument_getConfirmation_OutputMessage">
    <wsdl:part name="parameters" element="tns:getConfirmationResponse" />
  </wsdl:message>
  <wsdl:portType name="GetDocument">
    <wsdl:operation name="getDealSheet">
      <wsdl:input wsaw:Action="http://cnf/GetDocument/GetDocument/getDealSheet" message="tns:GetDocument_getDealSheet_InputMessage" />
      <wsdl:output wsaw:Action="http://cnf/GetDocument/GetDocument/getDealSheetResponse" message="tns:GetDocument_getDealSheet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getConfirmation">
      <wsdl:input wsaw:Action="http://cnf/GetDocument/GetDocument/getConfirmation" message="tns:GetDocument_getConfirmation_InputMessage" />
      <wsdl:output wsaw:Action="http://cnf/GetDocument/GetDocument/getConfirmationResponse" message="tns:GetDocument_getConfirmation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>